.banner {
display:none;
}
.copy {
    color: #fff; 
    background-color: black;
    width: 100%;
    margin-left: 0px; 
    margin-bottom: 0px ;
}
h1{
    background-color: aquamarine;
    height: 100px;
    width: 500px
}